<!DOCTYPE html>
<html>
  <head>
    <title>Cds</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href="~/css/styles.css"/>
  </head>
  <body>
    <h1>Cd Organizer</h1>
      <h3>Add a new Cd:<h3>
        <form action='/cds' method='post'>
          <label for='new-cd'>Cd Title</label>
          <input id='new-cd' name = 'new-cd' type='text'>
          <button type='submit'>Add Cd</button>
        </form>
  </body>
</html>
