<!DOCTYPE html>
<html>
  <head>
    <title>Cds</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href="~/css/styles.css"/>
  </head>
  <body>
    <h1>Your Cd List has been cleared!</h1>
      <p><a href="/cds">Back to Cd List!</a></p>
  </body>
</html>
