<!DOCTYPE html>
<html>
  <head>
    <title>Cds</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href="~/css/styles.css"/>
  </head>
  <body>
    <div class="container">
      <h1>@Model.GetTitle()</h1>

      <a href='/cds/new'> Add another Cd</a>
      <a href='/cds'>View all Cds</a>
    </div>
  </body>
</html>
